In [72]:
import pandas as pd 
import os
import numpy as np 
import json
from icecream import ic

In [62]:
#DATA_PATH = "/Users/rahulmehta/Desktop/RESEARCH-2024/Semeval-SHROOM/datasets/SHROOM_dev-v2"
DATA_PATH = "/Users/rahulmehta/Desktop/RESEARCH-2024/Semeval-SHROOM/datasets/SHROOM_test-unlabeled"


#DATASET = "val.model-agnostic-labelled.json"
DATASET = "test.model-agnostic.json"
#DATASET = "test.model-aware.json"

In [63]:
import json

data = []
with open(os.path.join(DATA_PATH,DATASET)) as f:
    for line in f:
        data.append(json.loads(line))
df = pd.DataFrame(data)
ic(df.head(4))

df['label_org'] = np.where(df['label']=="Not Hallucination",0,1)
df.head(20)

df['probability_gpt'] = np.where(df['probability_gpt']=="",0,df['probability_gpt'])

ic| df.head(4):                                          hyp  ref  \
                0  Resembling or characteristic of a weasel.  tgt
                1           Alternative form of sheath knife  tgt
                2         (obsolete) A

 short period of time.  tgt
                3                          (slang) An incel.  tgt

                                                                 src  \
                0  The writer had just entered into his eighteent...
                1  Sailors ' and fishermen 's <define> sheath - k...
                2  As to age , Bead could not form any clear impr...
                3  Because redpillers are usually normies or <def...

                                                                 tgt model task  \
                0               Resembling a weasel (in appearance).         DM
                1                                                  .         DM
                2               (poetic) An instant, a short moment.         DM
                3  (incel, _, slang) A man of a slightly lower ra...         DM

                                                              labels              label  \
                0  [Hallucination, Not Hallucination, Not Halluci...  Not Hallucination
                1  [Hallucination, Hallucination, Hallucination, ...      Hallucination
                2  [Not Hallucination, Not Hallucination, Not Hal...  Not Hallucination
                3  [Not Hallucination, Not Hallucination, Halluci...  Not Hallucination

                   p(Hallucination)  label_gpt probability_gpt
                0               0.2          0            0.05
                1               0.8          1             0.3
                2               0.0          1             1.0
                3               0.2          1             1.0

,hyp,ref,src,tgt,model,task,labels,label,p(Hallucination),label_gpt,probability_gpt
0,Resembling or characteristic of a weasel.,tgt,The writer had just entered into his eighteent...,Resembling a weasel (in appearance).,,DM,"[Hallucination, Not Hallucination, Not Halluci...",Not Hallucination,0.2,0,0.05
1,Alternative form of sheath knife,tgt,Sailors ' and fishermen 's <define> sheath - k...,.,,DM,"[Hallucination, Hallucination, Hallucination, ...",Hallucination,0.8,1,0.3
2,(obsolete) A short period of time.,tgt,"As to age , Bead could not form any clear impr...","(poetic) An instant, a short moment.",,DM,"[Not Hallucination, Not Hallucination, Not Hal...",Not Hallucination,0.0,1,1.0
3,(slang) An incel.,tgt,Because redpillers are usually normies or <def...,"(incel, _, slang) A man of a slightly lower ra...",,DM,"[Not Hallucination, Not Hallucination, Halluci...",Not Hallucination,0.2,1,1.0

In [66]:
df.groupby(['task','label_gpt','label_org']).size().reset_index(name='counts')

   task  label_gpt  label_org  counts
0    DM          0          0       4
1    DM          0          1       4
2    DM          1          0      91
3    DM          1          1      88
4    MT          0          0      63
5    MT          0          1      19
6    MT          1          0      43
7    MT          1          1      62
8    PG          0          0      27
9    PG          0          1       6
10   PG          1          0      53
11   PG          1          1      39

In [71]:
sub_df = df[(df.probability_gpt==0) | (df.probability_gpt>0.5)]
sub_df.groupby(['task','label_gpt','label_org']).size().reset_index(name='counts')

  task  label_gpt  label_org  counts
0   DM          1          0      73
1   DM          1          1      69
2   MT          0          0      35
3   MT          0          1       7
4   MT          1          0       7
5   MT          1          1      18
6   PG          0          0       7
7   PG          0          1       3
8   PG          1          0      15
9   PG          1          1      25

## Model aware